{% extends "global/html_struct.html" %}
{% load i18n %}
{% load util_filters %}
{% load humanize %}

{% block content %}

    <div class="card card-body">
        <form method="post" autocomplete="off" enctype="multipart/form-data" id="filter-form" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="ftr_tipo_expediente">Tipo de Expediente</label>
                    <select name="ftr_tipo_expediente" id="ftr_tipo_expediente" class="form-control">
                        <option value=""></option>
                        {% for opt in combo_options.tipo_expediente %}
                            <option value="{{ opt.pk }}" {% if opt.pk == filters.ftr_tipo_expediente %}selected="select"{% endif %}>{{ opt }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="ftr_ejecutivo">Ejecutivo</label>
                    <select name="ftr_ejecutivo" id="ftr_ejecutivo" class="form-control">
                        <option value=""></option>
                        {% for opt in combo_options.responsables %}
                            <option value="{{ opt.0 }}" {% if opt.0 == filters.ftr_ejecutivo %}selected="select"{% endif %}>{{ opt.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="ftr_gestor">Gestor</label>
                    <select name="ftr_gestor" id="ftr_gestor" class="form-control">
                        <option value=""></option>
                        {% for opt in combo_options.responsables %}
                            <option value="{{ opt.0 }}" {% if opt.0 == filters.ftr_gestor %}selected="select"{% endif %}>{{ opt.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="ftr_medio">Medio</label>
                    <select name="ftr_medio" id="ftr_medio" class="form-control">
                        <option value=""></option>
                        {% for opt in combo_options.medio %}
                            <option value="{{ opt.pk }}" {% if opt.pk == filters.ftr_medio %}selected="select"{% endif %}>{{ opt }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="ftr_fecha_de_envio_inicio">Fecha de Envío (incio)</label>
                    <input type="date" class="form-control" id="ftr_fecha_de_envio_inicio" name="ftr_fecha_de_envio_inicio" value="{{ filters.ftr_fecha_de_envio_inicio }}"/>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="ftr_fecha_de_envio_fin">Fecha de Envío (fin)</label>
                    <input type="date" class="form-control" id="ftr_fecha_de_envio_fin" name="ftr_fecha_de_envio_fin" value="{{ filters.ftr_fecha_de_envio_fin }}"/>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="ftr_fecha_de_conclusion_inicio">Fecha de Conclusión (incio)</label>
                    <input type="date" class="form-control" id="ftr_fecha_de_conclusion_inicio" name="ftr_fecha_de_conclusion_inicio" value="{{ filters.ftr_fecha_de_conclusion_inicio}}"/>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="ftr_fecha_de_conclusion_fin">Fecha de Conclusión (fin)</label>
                    <input type="date" class="form-control" id="ftr_fecha_de_conclusion_fin" name="ftr_fecha_de_conclusion_fin" value="{{ filters.ftr_fecha_de_conclusion_fin}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="ftr_fecha_de_liquidacion_inicio">Fecha de Liquidación (incio)</label>
                    <input type="date" class="form-control" id="ftr_fecha_de_liquidacion_inicio" name="ftr_fecha_de_liquidacion_inicio" value="{{ filters.ftr_fecha_de_liquidacion_inicio}}"/>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="ftr_fecha_de_liquidacion_fin">Fecha de Liquidación (fin)</label>
                    <input type="date" class="form-control" id="ftr_fecha_de_liquidacion_fin" name="ftr_fecha_de_liquidacion_fin" value="{{ filters.ftr_fecha_de_liquidacion_fin}}"/>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="ftr_tipo_de_tramite">Tipo de Trámite</label>
                    <select name="ftr_tipo_de_tramite" id="ftr_tipo_de_tramite" class="form-control">
                        <option value=""></option>
                        {% for opt in combo_options.tipo_tram %}
                            <option value="{{ opt.pk }}" {% if opt.pk == filters.ftr_tipo_de_tramite %}selected="select"{% endif %}>{{ opt }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="ftr_estatus">Estatus</label>
                    <select name="ftr_estatus" id="ftr_estatus" class="form-control">
                        <option value=""></option>
                        {% for opt in combo_options.estatus %}
                            <option value="{{ opt.pk }}" {% if opt.pk == filters.ftr_estatus %}selected="select"{% endif %}>{{ opt }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary" id="btn-save" >Procesar</button>
        </form>
    </div>

    {% if regs %}
    <table id="data-grid-report" class="table table-striped table-sm table-responsive-md">
        <thead>
            <tr>
                <th onclick="App.sortDataGridReport(0, 'str')" style="cursor: pointer;">
                    <i class="fas fa-sort-down float-right d-none sort-sign-asc"></i>
                    <i class="fas fa-sort-up float-right d-none sort-sign-desc"></i>
                    Cliente
                </th>
                <th onclick="App.sortDataGridReport(1, 'str')" style="cursor: pointer;">
                    <i class="fas fa-sort-down float-right d-none sort-sign-asc"></i>
                    <i class="fas fa-sort-up float-right d-none sort-sign-desc"></i>
                    Medio
                </th>
                <th onclick="App.sortDataGridReport(2, 'str')" style="cursor: pointer;">
                    <i class="fas fa-sort-down float-right d-none sort-sign-asc"></i>
                    <i class="fas fa-sort-up float-right d-none sort-sign-desc"></i>
                    Tipo de Trámite
                </th>
                <th onclick="App.sortDataGridReport(3, 'number')" style="cursor: pointer;">
                    <i class="fas fa-sort-down float-right d-none sort-sign-asc"></i>
                    <i class="fas fa-sort-up float-right d-none sort-sign-desc"></i>
                    Fechas
                </th>
                <th onclick="App.sortDataGridReport(4, 'number')" style="cursor: pointer;">
                    <i class="fas fa-sort-down float-right d-none sort-sign-asc"></i>
                    <i class="fas fa-sort-up float-right d-none sort-sign-desc"></i>
                    Costo
                </th>
                <th onclick="App.sortDataGridReport(5, 'str')" style="cursor: pointer;">
                    <i class="fas fa-sort-down float-right d-none sort-sign-asc"></i>
                    <i class="fas fa-sort-up float-right d-none sort-sign-desc"></i>
                    Estatus
                </th>
                <th>
                    Comentarios
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Cliente</th>
                <th>Medio</th>
                <th>Tipo de Trámite</th>
                <th>Fechas</th>
                <th>Costo</th>
                <th>Estatus</th>
                <th>Comentarios</th>
            </tr>
        </tfoot>
        <tbody id="data-tbl" class="small">
            {% for reg in regs %}
            <tr>
                <td data-rawsortvalue="{{ reg.cliente|lower }}">
                    <a href="{% url 'tmp_reporte_control_admin' pk_cte=reg.cliente.pk %}">
                        {{ reg.cliente }}
                    </a><br />
                    <strong>Tipo Exp:</strong> {{ reg.cliente.tipo }}<br />
                    {% if reg.cliente.responsable %}<strong>Ejecutivo:</strong> {{ reg.cliente.responsable }}<br />{% endif %}
                    {% if reg.cliente.gestor %}<strong>Gestor:</strong> {{ reg.cliente.gestor }}{% endif %}
                </td>
                <td data-rawsortvalue="{{ reg.medio|lower }}">
                    {{ reg.medio }}
                </td>
                <td data-rawsortvalue="{{ reg.tipo_de_tramite|lower }}">
                    {{ reg.tipo_de_tramite }}
                </td>
                <td data-rawsortvalue="{{ reg.fecha_de_envio|date:'Ymd' }}">
                    <strong>Envío:</strong> {{ reg.fecha_de_envio|date:'d/m/Y' }}<br />
                    <strong>Conclusión:</strong> {{ reg.fecha_de_conclusion|date:'d/m/Y' }}<br />
                    <strong>Liquidación:</strong> {{ reg.fecha_de_liquidacion|date:'d/m/Y' }}
                </td>
                <td data-rawsortvalue="{{ reg.costo }}" class="text-right">
                    {{ reg.costo|floatformat:2|intcomma }}
                </td>
                <td data-rawsortvalue="{{ reg.estatus|lower }}">
                    {{ reg.estatus }}
                </td>
                <td>
                    {{ reg.comentarios }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}


