{% extends "global/html_struct.html" %}
{% load i18n %}
{% load util_filters %}
{% block content %}

<h3>Detalle de Pagos</h3>

<table class="table table-striped table-sm table-responsive-md">
    <thead>
        <tr>
            <th>Cuenta</th>
            <th>Concepto</th>
            <th>Estatus</th>
            <th>Fecha de Pago</th>
            <th>Cantidad</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="data-tbl">
        {% for pago in data %}
        <tr>
            <td>{{ pago.cta }}</td>
            <td>{{ pago.concepto }}</td>
            <td>
                {% if pago.estatus == 'pendiente' %}
                    <p class="text-danger">Pendiente de Pago</p>
                {% elif pago.estatus == 'pagado' %}
                    <p class="text-warning">Pagado (sin verificar)</p>
                {% elif pago.estatus == 'verificado' %}
                    <p class="text-success">Pagado y Verificado</p>
                {% endif %}
            </td>
            <td>
                {% if pago.fecha_de_pago %}
                    {{ pago.fecha_de_pago|date:"d/m/Y H:i:s" }}
                {% endif %}
            </td>
            <td class="text-right">$ {{ pago.cantidad|money2display }}</td>
            <td class="text-center">
                <a href="{% url 'pago_update' pk=pago.pk %}" class="btn btn-outline-secondary">
                    <i class="far fa-edit"></i>
                </a>
            </td>
            <td class="text-center">
                <a href="{% url 'pago_delete' pk=pago.pk %}" class="btn btn-outline-secondary">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Resumen de Pagos</h3>

<table class="table table-striped table-sm table-responsive-md">
    <thead>
        <tr>
            <th></th>
            {% for st in status %}
                {% if st == 'pendiente' %}
                    <th class="text-danger">Pendiente de Pago</th>
                {% elif st == 'pagado' %}
                    <th class="text-warning">Pagado (sin verificar)</th>
                {% elif st == 'verificado' %}
                    <th class="text-success">Pagado y Verificado</th>
                {% endif %}
            {% endfor %}
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for cta in ctas %}
            <tr>
                <th style="text-transform: capitalize;">{{ cta }}</th>
                {% with totals|getFromDict:cta as row %}
                {% for st in status %}
                    <td class="text-right">$ {{ row|getFromDict:st|money2display }}</td>
                {% endfor %}
                {% endwith %}
                <th class="text-right">$ {{ totals_aggr|getFromDict:cta|money2display }}</th>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>TOTAL</th>
            {% for st in status %}
                <th class="text-right">$ {{ totals_aggr|getFromDict:st|money2display }}</th>
            {% endfor %}
            <th class="text-right">$ {{ total_t|money2display }}</th>
        </tr>
    </tfoot>
</table>

{% endblock %}
